# Branch Testing

In [1]:
from utils.predator import Predator
import numpy as np
import pandas as pd

In [2]:
target_data = pd.DataFrame(np.random.randn(10, 4))
target_data

          0         1         2         3
0  0.310741  0.215911 -0.098336  1.782945
1  0.129366 -0.866183  1.638737  0.635995
2 -0.624871 -2.064238 -1.446861 -0.698028
3  1.083831  1.205925 -0.930460  0.436933
4  0.227267 -0.257180  0.159228 -0.323112
5 -1.020239 -1.358680 -0.787033  0.491614
6  0.198362 -0.116868  0.553074 -0.788128
7  0.073663 -1.242040  0.118308  0.785641
8 -1.058088  0.567501  0.288863  1.685051
9 -0.041212 -0.066332 -1.787392 -0.625606

In [4]:
predator = Predator(1, 2, 3, 4, name="ibrahim")

In [5]:
predator.initialize_target_data(target_data)

In [6]:
predator.target_data

          0         1         2         3
0  0.310741  0.215911 -0.098336  1.782945
1  0.129366 -0.866183  1.638737  0.635995
2 -0.624871 -2.064238 -1.446861 -0.698028
3  1.083831  1.205925 -0.930460  0.436933
4  0.227267 -0.257180  0.159228 -0.323112
5 -1.020239 -1.358680 -0.787033  0.491614
6  0.198362 -0.116868  0.553074 -0.788128
7  0.073663 -1.242040  0.118308  0.785641
8 -1.058088  0.567501  0.288863  1.685051
9 -0.041212 -0.066332 -1.787392 -0.625606