# Branch Testing

In [2]:
from utils.predator import Predator
import numpy as np
import pandas as pd

In [5]:
target_data = pd.DataFrame(np.random.randn(10, 4))
target_data

          0         1         2         3
0 -1.876971 -0.259872 -0.999725  0.851324
1 -0.252894 -0.046496 -0.610357 -0.355466
2  0.352271  0.837393  0.554234  0.784716
3  1.052727  1.380456 -1.044765 -0.199342
4  0.338041  0.149912 -0.348694 -2.024354
5  0.788649  0.429558 -0.370100 -1.357453
6 -0.602844 -0.105175 -1.353093  0.280141
7  0.776817  0.784560 -0.190358  0.561055
8 -0.313638  0.312078  0.101304  0.494761
9 -1.125114  0.268578  1.288703  0.516528

In [6]:
predator = Predator(1, 2, 3, 4, name="ibrahim", target_data=target_data)